# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        40
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        111
        110
        101
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        109
        111
        111
        116
        104
        95
        103
        114
        97
        110
        105
        116
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        97
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        64
        22
        41
        46
        -55
        -49
        75
        -75
        47
        75
        44
        -54
        76
        -52
        43
        -79
        45
        -50
        -51
        -49
        47
        -55
        -120
        79
        47
        74
        -52
        -53
        44
        73
        101
        96
        104
        96
        -7
        -113
        13
        124
        6
        -30
        -125
        -1
        95
        -2
        -1
        -16
        -1
        16
        86
        -7
        -33
        64
        124
        18
        72
        126
        -6
        -1
        -2
        63
        46
        112
        31
        108
        -54
        40
        24
        -28
        0
        0
        115
        -90
        19
        72
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


